@import '../../styles/base.scss';

.switch {
  max-height: 20px;
  padding: 0.6rem;
  position: relative;
  cursor: pointer;
  border-radius: 48px;
  border: 1px solid $gray400;
}

.switchChecked {
  background: -webkit-linear-gradient(left, $violet200, $blue50, $blue50);
}

.switchNoChecked {  
  background-color: rgba(255,255,255, 0.3);
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 99px;
  position: absolute;
  top: 2px;
}

.checked {
  background-color: $blue900;
  left: 4px;
}
 .noChecked {
  background-color: $blue900;
  left: 21px;
}

.fluid {
  width: 100%;
}

.contain {
  width: 40px;
  max-width: 40px;
  min-width: 40px;
}
