@import '../../styles/base.scss';

.form {
  margin: 2rem 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  label {
    color: $white;
  }
}

.button {
  height: 150px;
  color: $gray100;
  border: 1px dashed $gray100;
  border-radius: 6px;
  background-color: transparent;
  transition: background 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  &:hover {
    background-color: $transparent100;
  }

  >svg {
    font-size: 24px;
  }
}