$black: #000;
$white: #fff;

$gray100: #fafafa;
$gray200: #e0e0e0;
$gray300: #b3b3b3;
$gray400: #8f8f8f;
$gray800: #393939;
$gray850: #313131;

$blue50: #00d5ff;
$blue300: #1d25fe;
$blue800: #1f2937;
$blue900: #030712;

$green200: #29ce1a;
$green300: #0da100;

$yellow200: #dbbe17;
$yellow500: #bfa306;

$red200: #df1616;
$red500: #ff1d1d;

$violet200: #ca89f9;

$transparent100: rgba(000, 000, 000, 0.1);
$transparent300: rgba(000, 000, 000, 0.3);
$transparent500: rgba(000, 000, 000, 0.5);