@import '../../../../styles/base.scss';

.designerComponent {
  color: $white;

  input {
    width: 100%;
  }
}

.text {
  font-size: 1rem;
  line-height: 1.4rem;
  color: $white;
  font-weight: 400;
}