@import '../../../../../styles/base.scss';

.table {
  width: 100%;
  border: 1px solid $gray400;
  margin-top: 2.4rem;
  padding: 1rem;
}

.th {
  text-align: left;
}

.cell {
  width: 20%;
  padding: 1rem;
  padding-left: 0px;
  text-align: left;
}

.largeCell {
  width: 100%;
  text-align: right;
}