.designerSidebarForm {
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 2rem;
}

.designerSidebarFormContent {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}