@import '../../../../styles/base.scss';

.designerComponent {
  color: $white;

  input {
    width: 100%;
  }
}

.helperText {
  font-size: 0.8rem;
  line-height: 1.6rem;
  color: $gray400;
}

.error {
  font-size: 0.8rem;
  line-height: 1.6rem;
  color: $red500;
}