@import '../../styles/base.scss';

.button {
  width: 120px;
  height: 120px;
  color: $white;
  border: 1px dashed $gray300;
  border-radius: 4px;
  background-color: transparent;

  &:hover {
    background-color: rgba($color: #fff, $alpha: 0.2);
  }

  > svg {
    font-size: 2rem;
  }
}

.isDragging {
  border: 1px solid $white;
  background-color: rgba($color: #fff, $alpha: 0.5);
}
